/*
* @Author: wangjianfei
* @Date:   2017-05-26 17:24:39
* @Last Modified by:   wangjianfei
* @Last Modified time: 2017-05-26 19:33:57
*/
*{
    margin: 0;
    padding: 0;
    list-style: none;
    border: 0;
    box-sizing: border-box;
    outline: 0;
    -webkit-tap-highlight-color: transparent;
}
#prompt_box{
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .5);
    display: none;
    z-index: 30;
}
.prompt_mask{
    width: 80%;
    height: 1.5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    overflow: hidden;
    border-radius: 0.05rem;
}
.prompt_title{
    text-align: center;
    color: #565CB2;
    font-size: 0.14rem;
    margin-top: 0.2rem;
}
.prompt_mask p{
    width: 100%;
    font-size: 0.14rem;
    height: 0.3rem;
    line-height: 0.3rem;
    text-indent: 1em;
    color: #fff;
    background: #565CB2;
}
#prompt_btn{
    display: block;
    font-size: 0.12rem;
    padding: 0.1rem 0;
    background: #565CB2;
    color: #fff;
    text-align: center;
    margin: 0 auto;
    cursor: pointer;
    margin-top: 0.4rem;
}